html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    font-style: italic;
}

#title{
    animation: titleTween 2s ease-in-out forwards;
    height: 50px;
    opacity: 0;
    font-size: 35px;
    font-family: "Futura";
    font-style: italic;
    line-height: 50px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% - 25px);
}


#button-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes titleTween{
    25%{top: calc(50% - 25px);
    opacity: 1;}
    100%{top: calc(33% - 25px);
        opacity: 1;}
}




p{
    margin: 0;
    padding: 4px;
}

@font-face {
    font-family: "Futura";
    src: url("Futura.ttc");
}

.button{
    user-select: none;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-align: center;
    justify-content: center;
    font-family: "Futura";
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    border: black;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideIn{
    0%{
        opacity: 0;
        top: -30px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

#page-landing{
    width: 100%;
    height: 100%;
}

#page-lobby{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}

#lobby-list{
    width: 180px;
    height: 350px;
    margin: 10px 0;
}

.lobby-user{
    margin-bottom: 15px;
    width: 100%;
    /* height: 25px; */
    /* border: 1px solid black; */
    text-align: center;
    line-height: 50px;
    box-shadow: 0 10px 20px 2px rgba(0,0,0,0.15);
}

.lobby-user:hover{
    background-color: white;
    color: black;
}

#page-join{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    display: none;
}

#gamecode-field {
    display: block;
    margin: 2em auto;
    border: none;
    padding: 0;
    width: 6ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
  }
  input:focus {
    outline: none;
    color: dodgerblue;
  }
  

#start-button{
    user-select: none;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-align: center;
    justify-content: center;
    font-family: "Futura";
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    border: black;
}

#lobby-label {
    display: block;
    margin: 15px auto;
    border: none;
    padding: 0;
    width: 6ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
  }

#username-field {
    border: none;
    font-family: "Futura";
    font-size: 26px;
}

#page-game {
    display: none;
    width: 100%;
    height: 100%;
}