<div id="page-asking">
    <textarea id="asking-field" placeholder="Ask a question..."></textarea>
    <div id="button-container-askoptions">
        <div id="choose-victim" class="ask-button" onclick="askingChoice(1)">CHOOSE A VICTIM<br>(take a shot)</div>
        <div id="random-victim" class="ask-button" onclick="askingChoice(0)">RANDOM VICTIM<br>(free)</div>
    </div>
</div>