    
    <div id="page-lobby">
        <div id="lobby-label"></div>
        <input type="text" id="username-field" placeholder="Name? Don't lie"></input>
        <div id="lobby-list"></div>
      </div>